<div id="sales">
  <app-header :workTimeData="priorityRole"></app-header>   
  <v-content>
    <v-container>      
      <v-layout wrap justify-center>
        <v-flex xs9>
          <v-toolbar color="balck" dark> 
            <v-toolbar-title>My Sales</v-toolbar-title>
          </v-toolbar>
          <v-card class="pa-4">                  
            <v-list two-line >
              <template v-for="sale in mySales">
                <v-toolbar color="rgb(48, 48, 48)" dark> 
                    <v-toolbar-title>Sale date: {{ sale.saleDate | formatDate}}</v-toolbar-title>
                </v-toolbar>
                <v-card class="sale-panel">
                  <v-list-tile>
                  <v-list-tile-avatar tile>
                    <img src="../../resources/images/small-list-icon.png">
                  </v-list-tile-avatar>        
                  <v-list-tile-content>
                    <v-list-tile-title><h3>Product: {{ sale.product.productname }}</h3></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-content>
                    <v-list-tile-title><h3>Type: {{ sale.product.type }}</h3></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-content>
                    <v-list-tile-title><h3>Amount: {{ sale.amount }}</h3></v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                </v-card>                    
              </template>
            </v-list>
          </v-card>
        </v-flex>    
      </v-layout>
    </v-container>
  </v-content>
  <app-footer></app-footer>
</div>