<template src="./Sales.html"></template>
<script>

import Header from '../header/Header.vue'
import Footer from '../footer/Footer.vue'
import MySellService from './SalesService.js'

export default {
    name: 'sales',
    components: {
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            wtId: null,
            mySales: [],
            priorityRole: "",
            workTimeData: {
                role: "",
                id: null
            },
        }
    },
    methods: {
        getWtSales() { 
            MySellService.getWorktimeSales(this.wtId).then(response => {
                this.mySales = response.data.sale
            })
        }
    },

    created() {
        this.wtId = this.$route.params.id
        this.getWtSales()
    }
}
</script>
<style src="./Sales.css"></style>
