<div id="header">
  <v-toolbar>
    <v-toolbar-title id="toolbar-margin">RSWT</v-toolbar-title>
    <v-toolbar-items>
      <v-btn flat to="/dashboard">Dashboard</v-btn>
      <v-btn flat v-show="workTimeData.role == 'employee'" v-bind:to="{ path: '/sales/' + workTimeData.id}">My Sales</v-btn>      
      <v-btn flat v-show="workTimeData.role == 'manager'" @click.native="$router.replace('/diagrams')">Diagrams</v-btn>      
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn flat to="/userpanel">{{ fullname }}</v-btn>
      <v-btn flat @click="logoutUser()">Logout</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</div>
