<template src="./Header.html"></template>
<script>

import HeaderService from './HeaderService.js';

export default {
    props: [
        'workTimeData'
    ],
    priorityRole: "",

    data() { 
        return {
            fullname: ""
        }
    },
    
    methods: {
        logoutUser() {
            localStorage.removeItem('token')
            localStorage.removeItem('roles')
            this.$router.replace('/')
        },

        getFullname() {
            HeaderService.details().then((response) => {
                this.fullname = response.data
            }).catch((err) => {
                console.log(err)
            })
        },
    },

    created() {
        this.getFullname()
    }
}
</script>
<style src="./Header.css"></style>
