<div id="dashboard">
  <!-- finish work time -->
  <div class="text-xs-center">
    <v-dialog
      v-model="finishYourWorkday"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
          Finish your workday
        </v-card-title>
        <v-card-text>To finish yor workday, leave a little comment below:</v-card-text>          
        <v-container>
          <v-flex ml-3 mr-3>
            <v-spacer></v-spacer>
            <v-textarea
              box
              name="input-7-4"
              label="Leave comment"
              v-model="workEndModel.wtComment"
            ></v-textarea>
            <v-spacer></v-spacer>
          </v-flex>
        </v-container>         
        <v-divider></v-divider> 
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="finishYourWorkday = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="white"
            flat
            @click="endWork()"
          >
            Finish worktime
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- reports -->
  <div class="text-xs-center">
    <v-dialog
      v-model="reportSale"
      width="850"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
          Report sale
        </v-card-title>
        <v-card-text>Select product:</v-card-text>          
        <v-container >
          <v-flex ml-3 mr-3>              
            <v-card-text>
              <v-autocomplete
                v-model="selectedProductId"
                :items="products"
                chips
                clearable
                hide-details
                hide-selected
                item-text="productname"
                item-value="id"
                label="Search for a product..."
                solo
              >
                <template
                  slot="selection"
                  slot-scope="{ item, selected }"
                >
                  <v-icon left>mdi-coin</v-icon>
                  <span :selected="selected" v-text="item.productname"></span>
                </template>
                <template
                  slot="item"
                  slot-scope="{ item, tile }"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-text="item.productname"></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon>mdi-coin</v-icon>
                  </v-list-tile-action>
                </template>
              </v-autocomplete>
            </v-card-text>
          </v-flex>
        </v-container>
        <v-alert class="error" v-show="saleError != ''">{{ saleError }}</v-alert>          
        <v-divider></v-divider>  
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="reportSale = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="white"
            flat
            @click="soldProduct()"
          >
            Report
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <v-snackbar
    v-model="snackBar"
    :top="y === 'top'"
  >
    {{ snackText }}
    <v-btn
      color="white"
      flat
      @click="snackBar = false"
    >
      Close
    </v-btn>
  </v-snackbar>
  <app-header :workTimeData="workTimeData"></app-header>   
  <v-content>        
    <v-container>
      <v-layout id="dashboard-container" wrap justify-center>             
        <v-flex xs4 v-show="priorityRole == 'employee' && workIsActive == false && workFinished == true || workNotStarted == true">
          <v-card @click.native="startWork()" class="dashboard-panel"> 
            <v-img
              src="././resources/images/worktime-icon.png"
              aspect-ratio="2.5"
            ></v-img>          
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Work start</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'employee' && workIsActive == true && workFinished == false">
          <v-card @click.native="finishYourWorkday = true" class="dashboard-panel"> 
            <v-img
              src="././resources/images/worktime-icon.png"
              aspect-ratio="2.5"
            ></v-img>          
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Work end</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>            
        <v-flex xs4 v-show="priorityRole == 'employee' && workIsActive == true">
          <v-card @click.native="reportYourSale()" class="dashboard-panel">
            <v-img
              src="././resources/images/report-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Report sale</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'employee'">
          <v-card v-bind:to="{ path: '/sales/' + workTimeId}" class="dashboard-panel">
            <v-img
              src="././resources/images/list-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">My sales</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'manager'">
          <v-card to="/worktimereports" class="dashboard-panel">
            <v-img
              src="././resources/images/worktime-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Check employees work time</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'manager'">
          <v-card to="/salesreports" class="dashboard-panel">
            <v-img
              src="././resources/images/report-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Check employees sales</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'manager'">
          <v-card @click.native="$router.replace('/diagrams')" class="dashboard-panel">
            <v-img
              src="././resources/images/diagrams-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Diagrams</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'admin'">
          <v-card to="/addemployee" class="dashboard-panel">
            <v-img
              src="././resources/images/add-user-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Add employee</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
        <v-flex xs4 v-show="priorityRole == 'admin'">
          <v-card to="/addproduct" class="dashboard-panel">
            <v-img
              src="././resources/images/add-product-icon.png"
              aspect-ratio="2.5"
            ></v-img>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Add product</h3>
              </div>
            </v-card-title>          
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
  <app-footer></app-footer>
</div>