<template src="./Dashboard.html"></template>
<script>

import Header from '../header/Header.vue';
import Footer from '../footer/Footer.vue';
import DashboardService from './DashboardService.js'
import { WorkEndModel } from './WorkEndModel.js'

export default {
    name: 'dashboard',
    components: {
        
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            workEndModel: new WorkEndModel(),
            workIsActive: false,
            workFinished: false,
            workNotStarted: false,
            finishYourWorkday: false,
            reportSale: false,
            workTimeId: null,
            finishComment: '',
            priorityRole: '',
            products: [],
            selectedProductId: "",
            localRoles: "",
            snackBar: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 3600,
            snackText: '',
            saleError: ""
        }
    },
    methods: {

        whoLogged() {
            if (this.Properties.roles.includes("ROLE_ADMIN")) {
                this.priorityRole = "admin"
            } else if (this.Properties.roles.includes("ROLE_MANAGER")) {
                this.priorityRole = "manager"
                this.workTimeData.role ="manager"
            } else {
                this.priorityRole = "employee"
                this.workTimeData.role ="employee"
            }
        },

        employeeWorktime() {
            if (this.priorityRole == 'employee') {
                DashboardService.worktimeDetails().then(response => {
                    if (response.status == 200) {
                        if (response.data.workStart != null && response.data.workEnd == null) {
                            this.workIsActive = true
                            this.workTimeId = response.data.id
                            this.workTimeData.id = response.data.id
                            this.Properties.workTimeIdentifier = response.data.id
                        } else {
                            this.workFinished = true
                            this.workTimeId = response.data.id
                            this.workTimeData.id = response.data.id
                            this.Properties.workTimeIdentifier = response.data.id
                        }
                    }
                }).catch((err) => {
                    this.workNotStarted = true
                })
            } 
        },

        startWork() {
            if (this.workFinished == true) {
                alert("You're finished work for today!")
            } else {
                DashboardService.startWork().then(response => {
                    this.workNotStarted = false
                    this.workIsActive = true
                    this.workTimeId = response.data
                    this.snackText = 'Work started.'
                    this.snackBar = true
                }).catch((err) => {
                    console.log(err)             
                })
            }
        },

        endWork() {
            this.finishYourWorkday = false
            this.workEndModel.wtId = this.workTimeId
            DashboardService.endWork(this.workEndModel).then(response => {
                if (response.status == 200) {
                    this.workIsActive = false
                    this.workFinished = true
                    this.snackText = 'Work finished.'
                    this.snackBar = true
                }
            })
        },

        reportYourSale() {
            this.saleError = ''
            this.reportSale = true
            DashboardService.getProducts().then(response => {
                this.products = response.data 
            })
        },

        soldProduct() {
            DashboardService.saleProduct(this.selectedProductId, this.workTimeId).then(respone => {
                this.reportSale = false
                this.snackText = 'Sale reported.'
                this.snackBar = true    
            }).catch((err) => {
                this.saleError = "Please select product!"
            })
        }
    },

    created() {
        if (localStorage.getItem('roles') != null) {
            this.localRoles = localStorage.getItem('roles')
            this.Properties.roles = JSON.parse(this.localRoles)
            this.whoLogged()
            this.employeeWorktime();
        }
    }
}
</script>
<style src="./Dashboard.css"></style>
