<div id="userpanel">
    <app-header :workTimeData="workTimeData"></app-header>
    <v-content>
        <v-container>
            <v-layout wrap justify-center>
                <v-flex xs8>
                    <v-card>
                        <v-toolbar color="black" dark>
                            <v-toolbar-title>Profile data</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-list style="padding: 0;">
                            <v-subheader class="label">Name:</v-subheader>
                            <v-divider></v-divider>
                            <v-list-tile>
                                <v-list-tile-content>{{ userDetails.name }}</v-list-tile-content>
                            </v-list-tile>
                            <v-subheader class="label">Surname:</v-subheader>
                            <v-divider></v-divider>
                            <v-list-tile>
                                <v-list-tile-content>{{ userDetails.surname }}</v-list-tile-content>
                            </v-list-tile>
                            <v-subheader class="label">E-mail:</v-subheader>
                            <v-divider></v-divider>
                            <v-list-tile>
                                <v-list-tile-content>{{ userDetails.email }}</v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
    <app-footer></app-footer>
</div>