<template src="./UserPanel.html"></template>
<script>

import Header from '../header/Header.vue';
import Footer from '../footer/Footer.vue';

import UserPanelService from './UserPanelService.js';
import { UserDetailsModel } from './UserDetailsModel.js'

export default {
    name: 'userpanel',
    components: {
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            userDetailsModel: new UserDetailsModel(),
            userDetails: "",
            priorityRole: "",
            workTimeData: {
                role: "",
                id: null
            },
            localRoles: "",
        }
    },

    methods: {
        whoLogged() {
            if (this.Properties.roles.includes("ROLE_ADMIN")) {
                this.priorityRole = "admin"
            } else if (this.Properties.roles.includes("ROLE_MANAGER")) {
                this.priorityRole = "manager"
            } else {
                this.priorityRole = "employee"
                this.workTimeData.role = "employee"
            }
        },
        
        getUserDetails() {
            UserPanelService.userDetails().then((response) => {
                this.userDetails = response.data
            }).catch((err) => {
                
            })
        },
    },

    created() {
        if (localStorage.getItem('roles') != null) {
            this.localRoles = localStorage.getItem('roles')
            this.Properties.roles = JSON.parse(this.localRoles)
            this.getUserDetails()
            this.whoLogged()
            this.workTimeData.id = this.Properties.workTimeIdentifier
        }
    }
}
</script>
<style src="./UserPanel.css"></style>
