<template src="./AddEmployee.html"></template>
<script>

import Header from '../../header/Header.vue'
import Footer from '../../footer/Footer.vue'
import AddEmployeeService from './AddEmployeeService.js'
import { AddEmployeeModel } from './AddEmployeeModel.js'

export default {
    name: 'addEmployee',
    components: {
        
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            addEmployeeModel: new AddEmployeeModel(),
            addEmployeeAlert: false,
            error: "",
            employeeAddedAlert: false
        }
    },
    methods: {

        addQuestion() {
            this.addEmployeeAlert = true
        },

        addEmployeeToSystem() {
            this.error = ''
            AddEmployeeService.addEpmloyee(this.addEmployeeModel).then(response => {
                this.employeeAddedAlert = true
            }).catch((err) => {          
                this.error = "User with entered Login already exists in system!"
            })
            this.addEmployeeAlert = false
        },

        validateBeforeSubmit() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.addQuestion()
                    return;
                }
                alert('Please correct the form!');
            });
        }
    },
}
</script>
<style src="./AddEmployee.css"></style>
