<div id="addEmployee">
  <div class="text-xs-center">
    <v-dialog
      v-model="addEmployeeAlert"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
          Do you want to add new user?
        </v-card-title>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="addEmployeeAlert = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="white"
            flat
            @click="addEmployeeToSystem()"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-xs-center">
    <v-dialog
      v-model="employeeAddedAlert"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
        User added into system!
        </v-card-title>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="$router.push('/dashboard')"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <app-header :workTimeData="workTimeData"></app-header>   
  <v-content>
    <v-container>
      <v-layout wrap justify-center>
        <v-flex xs12>
          <v-toolbar dark> 
            <v-toolbar-title>Add employee</v-toolbar-title>
          </v-toolbar>
          <v-card>
            <v-container>
              <template>
                <v-form class="pa-2" @submit.prevent="validateBeforeSubmit">
                  <v-text-field
                    v-validate="'required|max:20'"
                    v-model="addEmployeeModel.name"
                    label="Name"
                    name="name"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('name') }}</span>
                  <v-text-field
                    v-validate="'required|max:20'"
                    v-model="addEmployeeModel.surname"
                    label="Surname"
                    name="surname"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('surname') }}</span>
                  <v-text-field
                    v-validate="'required|max:20'"
                    v-model="addEmployeeModel.login"
                    label="Login"
                    name="login"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('login') }}</span>
                  <v-text-field
                    v-validate="'required|email'"
                    v-model="addEmployeeModel.email"
                    label="Email"
                    name="email"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('email') }}</span>
                  <v-text-field
                    v-validate="'required|alpha'"
                    v-model="addEmployeeModel.password"
                    type="password"
                    label="Password"
                    name="password"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('password') }}</span>
                  <v-radio-group v-validate="'required'" v-model="addEmployeeModel.role" :mandatory="false">
                      <p>Select role: </p><br>
                      <v-radio label="Employee role" name="radio" value="employee"></v-radio>
                      <v-radio label="Manager role" name="radio" value=manager></v-radio>
                  </v-radio-group>
                  <v-btn color="#2c2c2c" type="submit">Add</v-btn>
                  <v-alert class="error" v-show="error != ''">{{ error }}</v-alert>
                </v-form>
              </template>
            </v-container>  
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
  <app-footer></app-footer>
</div>