<template src="./WorkTimeReports.html"></template>
<script>

import Header from '../../header/Header.vue';
import Footer from '../../footer/Footer.vue';
import WorkTimeReportsService from './WorkTimeReportsService.js'

export default {
    name: 'workTimeReports',
    components: {
        
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            employeeId: null,
            employees: [],
            workTimes: [],
            headers: [
                { text: 'Work start date', align: 'left',  value: 'workStart' },
                { text: 'Work end date', value: 'workEnd' },
                { text: 'Employee comment', value: 'comment' },
            ],
            daysOption: null,
            error: "",
        }
    },

    methods: {
        getAllEmployee() {
            WorkTimeReportsService.getEmployees().then(response => {
                this.employees = response.data
            })
        },

        getEmployeeWorkTime() {
            this.error = ''
            WorkTimeReportsService.getWorktimeSales(this.employeeId, this.daysOption).then(response => {
                this.workTimes = response.data
            }).catch((err) => {           
                this.error = "Please select avialable options!"
            })
        },
    },

    created() {
        this.getAllEmployee()
    }
}
</script>
<style src="./WorkTimeReports.css"></style>
