<div id="workTimeReports">
  <app-header :workTimeData="workTimeData"></app-header>   
  <v-content>
    <v-container>
      <v-layout wrap justify-center>
        <v-flex xs12>
          <v-toolbar dark> 
            <v-toolbar-title>Work Time Reports</v-toolbar-title>
          </v-toolbar>
          <v-card class="pa-4">
            <v-container >
              <v-flex ml-3 mr-3>                    
                <v-card-text>
                  <v-autocomplete
                    v-model="employeeId"
                    :items="employees"
                    chips
                    clearable
                    hide-details
                    hide-selected
                    item-text="surname"
                    item-value="id"
                    label="Type surname or select employee..."
                    solo
                  >
                    <template
                      slot="selection"
                      slot-scope="{ item, selected }"
                    >                                 
                      <v-icon left>mdi-coin</v-icon>
                      <span :selected="selected" v-text="item.name+ ' ' + item.surname"></span>
                    </template>
                    <template
                      slot="item"
                      slot-scope="{ item, tile }"
                    >
                      <v-list-tile-content>
                        <v-list-tile-title v-text="item.name + ' ' + item.surname"></v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <v-icon>mdi-coin</v-icon>
                      </v-list-tile-action>
                    </template>
                  </v-autocomplete>                          
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-radio-group v-model="daysOption" :mandatory="false">
                      <v-radio label="5 days" value=5></v-radio>
                      <v-radio label="10 days" value=10></v-radio>
                      <v-radio label="1 month" value=30></v-radio>
                      <v-radio label="2 months" value=60></v-radio>
                      <v-radio label="6 months" value=182></v-radio>
                      <v-radio label="One year" value=366></v-radio>
                      <v-radio label="All" value=0></v-radio>
                    </v-radio-group>
                    <v-btn @click="getEmployeeWorkTime()" color="#2c2c2c">Show result</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-alert class="error" v-show="error != ''">{{ error }}</v-alert>
                </v-card-text>
              </v-flex>
              <template>
                <v-data-table
                  :headers="headers"
                  :items="workTimes"
                  class="elevation-1"
                >
                  <template slot="items" slot-scope="props">
                    <td>{{ props.item.workStart | formatDate }}</td>
                    <td class="text-xs-right">{{ props.item.workEnd | formatDate }}</td>
                    <td class="text-xs-right">{{ props.item.comment }}</td>                        
                  </template>
                </v-data-table>
              </template>
            </v-container>                
          </v-card>
        </v-flex>    
      </v-layout>
    </v-container>
  </v-content>
  <app-footer></app-footer>
</div>