<template dark src="./Login.html"></template>
<script>

import LoginService from './LoginService.js'
import { LoginModel } from './LoginModel.js'

export default {  
    props: {
        Properties: {
            type: Object,
            required: true
        }
    },
    
    data() { 
        return {
            loginModel: new LoginModel(),
            error: ""    
        }
    },

    methods: {
        loginUser() {
            LoginService.login(this.loginModel).then((response) => {
                if (response.status == 200) {
                    localStorage.setItem('token', response.headers.token);
                    LoginService.getRoles().then(response => {
                        this.Properties.roles = response.data
                        localStorage.setItem('roles', JSON.stringify(response.data))
                        this.$router.push('/dashboard')       
                    })
                    this.error = ""
                }
            }).catch((err) => {            
                this.error = "Your password or login is invalid"
            })
        },
    }
}
</script>
<style src="./Login.css"></style>
