<div id="login">
    <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4>
                    <v-card class="elevation-12">
                        <v-toolbar dark color="#000000">
                            <v-spacer></v-spacer>
                            <v-toolbar-title id="toolbar">Please Log In</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-card-text>
                            <v-form @submit.prevent="loginUser">
                                <v-text-field v-model="loginModel.login" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                                <v-text-field v-model="loginModel.password" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn type="submit" color="#2c2c2c">Login</v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>
                                <v-alert class="error" v-show="error != ''">{{ error }}</v-alert>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>   
</div>

      