<template src="./SalesReports.html"></template>
<script>

import Header from '../../header/Header.vue';
import Footer from '../../footer/Footer.vue';
import SalesReportsService from './SalesReportsService.js'

export default {
    name: 'salesReports',
    components: {
        
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            employeeId: null,
            employees: [],
            workTimes: [],
            sales: [],
            headers: [
                { text: 'Product name', align: 'left',  value: 'product.productname' },
                { text: 'Product Type', value: 'product.type' },
                { text: 'Sale date', value: 'saleDate' },
                { text: 'Amount', value: 'amount' },
            ],
            daysOption: null,
            error: "",
        }
    },
    methods: {
        getAllEmployee() {
            SalesReportsService.getEmployees().then(response => {
                this.employees = response.data
            })
        },

        getEmployeeWorkTime() {
            this.error = ''
            SalesReportsService.getWorktimeSales(this.employeeId, this.daysOption).then(response => {
                this.workTimes = response.data
                this.getSalesFromWorktimes()
            }).catch((err) => {           
                this.error = "Please select avialable options!"
            })
        },

        getSalesFromWorktimes() {
            this.sales = []
            this.workTimes.forEach(element => {
                this.sales = element.sale.concat(this.sales)
            });
        }
    },

    created() {
        this.getAllEmployee()
    }
}
</script>
<style src="./SalesReports.css"></style>
