<template src="./Diagrams.html"></template>
<script>

import Header from '../../header/Header.vue';
import Footer from '../../footer/Footer.vue';
import DiagramsService from './DiagramsService.js'

import Chart from "chart.js";
import salesChartData from "./SalesChart.js";
import percentageSalesChartData from "./PercentageSalesChart.js";

export default {
    name: 'diagrams',
    components: {
        
        'app-header': Header,
        'app-footer': Footer,
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            employeeId: null,
            employees: [],
            workTimes: [],
            sales: [],
            daysOption: null,
            amountAccessories: null,
            amountComputers: null,
            amountPrinters: null,
            hundresPercent: null,
            percentAmountAccessories: null,
            percentAmountComputers: null,
            percentAmountPrinters: null,
            salesChartData: salesChartData,
            percentageSalesChartData: percentageSalesChartData,
            myChart: null,
            myPercentageChart: null,
            error: "",  
        }
    },

    methods: {
        getAllEmployee() {
            DiagramsService.getEmployees().then(response => {
                this.employees = response.data
            })
        },

        getEmployeeWorkTime() {
            this.error = ''
            DiagramsService.getWorktimeSales(this.employeeId, this.daysOption).then(response => {
                this.workTimes = response.data
                this.getSalesFromWorktimes()
            }).catch((err) => {           
                this.error = "Please select avialable options!"
            })
        },

        getSalesFromWorktimes() {
            this.sales = []
            this.workTimes.forEach(element => {
                this.sales = element.sale.concat(this.sales)
            });
            this.amountAccessories = null
            this.amountComputers = null
            this.amountPrinters = null
            this.sales.forEach(el => {
                if (el.product.type == 'Accessories') {
                    this.amountAccessories += 1
                }
                if (el.product.type == 'Computers') {
                    this.amountComputers += 1                    
                }
                if (el.product.type == 'Printers') {
                    this.amountPrinters += 1                    
                }                
            })

            this.hundresPercent = this.amountAccessories + this.amountComputers + this.amountPrinters

            this.percentAmountAccessories = (100 * this.amountAccessories)/this.hundresPercent
            this.percentAmountComputers = (100 * this.amountComputers)/this.hundresPercent
            this.percentAmountPrinters = (100 * this.amountPrinters)/this.hundresPercent

            this.clearDiagram()
            this.myChart.update();
            this.myPercentageChart.update();
            this.addData()            
        },

        createChart(chartId, chartData) {
            const ctx = document.getElementById(chartId);
            // Save reference
            this.myChart = new Chart(ctx, {
                type: chartData.type,
                data: chartData.data,
                options: chartData.options
            });
        },

        createPercentageChart(chartId, chartData) {
            const ctx = document.getElementById(chartId);
            // Save reference
            this.myPercentageChart = new Chart(ctx, {
                type: chartData.type,
                data: chartData.data,
                options: chartData.options
            });
        },

        addData(data) {
            // Use reference
            this.myChart.data.datasets.forEach(dataset => {
                dataset.data.push(this.amountAccessories);
                dataset.data.push(this.amountComputers);
                dataset.data.push(this.amountPrinters);
            });
            this.myPercentageChart.data.datasets.forEach(dataset => {
                dataset.data.push(this.percentAmountAccessories);
                dataset.data.push(this.percentAmountComputers);
                dataset.data.push(this.percentAmountPrinters);
            });
            this.myChart.update();
            this.myPercentageChart.update();            
        },

        clearDiagram() {
            this.myChart.data.datasets.forEach(dataset => {
                dataset.data = []
            });
            this.myPercentageChart.data.datasets.forEach(dataset => {
                dataset.data = []
            });
        }
    },

    mounted() {
        this.createChart("sales-chart", this.salesChartData);
        this.createPercentageChart("percentage-sales-chart", this.percentageSalesChartData);
        this.clearDiagram()
        this.myChart.update();
        this.myPercentageChart.update();
        this.addData()      
    },

    created() {       
        this.getAllEmployee()        
    },   
}
</script>
<style src="./Diagrams.css"></style>
