<template src="./AddProduct.html"></template>
<script>

import Header from '../../header/Header.vue'
import Footer from '../../footer/Footer.vue'
import AddProductService from './AddProductService.js'
import { AddProductModel } from './AddProductModel.js'

export default {
    name: 'addProduct',
    components: {
        
        'app-header': Header,
        'app-footer': Footer
    },

    props: {
        Properties: {
            type: Object,
            required: true
        }
    },

    data() { 
        return {
            workTimeData: {
                role: "",
                id: null
            },
            addProductModel: new AddProductModel(),
            addProductAlert: false,
            error: "",
            productAddedAlert: false,
        }
    },
    methods: {

        addQuestion() {
            this.addProductAlert = true
        },

        addProductToSystem() {
            this.error = ''
            AddProductService.addProduct(this.addProductModel).then(response => {
                this.productAddedAlert = true
            }).catch((err) => {           
                this.error = "This product exists in system!"
            })
            this.addProductAlert = false
        },

        validateBeforeSubmit() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.addQuestion()
                    return;
                }
                alert('Please correct the form!');
            });
        }
    },
}
</script>
<style src="./AddProduct.css"></style>
