<div id="addProduct">
  <div class="text-xs-center">
    <v-dialog
      v-model="addProductAlert"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
          Do you want to add new product?
        </v-card-title>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="addProductAlert = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="white"
            flat
            @click="addProductToSystem()"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <div class="text-xs-center">
    <v-dialog
      v-model="productAddedAlert"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline black lighten-2"
          primary-title
        >
        Product added into system!
        </v-card-title>                    
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            flat
            @click="$router.push('/dashboard')"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <app-header :workTimeData="workTimeData"></app-header>   
  <v-content>
    <v-container>
      <v-layout wrap justify-center>
        <v-flex xs12>
          <v-toolbar dark> 
            <v-toolbar-title>Add product</v-toolbar-title>
          </v-toolbar>
          <v-card>
            <v-container>
              <template>
                <v-form class="pa-2" @submit.prevent="validateBeforeSubmit">
                  <v-text-field
                    v-validate="'required|max:50'"
                    v-model="addProductModel.productname"
                    label="Product name"
                    name="productname"
                    required
                  ></v-text-field>
                  <span style="color: salmon">{{ errors.first('productname') }}</span>
                  <v-radio-group v-validate="'required'" v-model="addProductModel.type" :mandatory="false">
                    <p>Select type: </p><br>
                    <v-radio label="Accessories" value="Accessories"></v-radio>
                    <v-radio label="Computers" value=Computers></v-radio>
                    <v-radio label="Printers" value=Printers></v-radio>
                  </v-radio-group>
                  <v-btn color="#2c2c2c" type="submit">Add</v-btn>
                  <v-alert class="error" v-show="error != ''">{{ error }}</v-alert>
                </v-form>
              </template>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
  <app-footer></app-footer>
</div>