<template src="./App.html"></template>
<script>

export default {
  name: 'app',

  data () {
    return {
      Properties: {
        firstname: "",
        surname: "",
        roles: [],
        workTimeIdentifier: null
      }
    }
  }
}
</script>
<style src="./App.css"></style>
